flows.json
[{"id":"72d5407a.e89ac","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"72d5407a.e89ac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"d\":{\"total\":40,\"occupied\":19,\"vacant\":0,\"latitude\":78.3194,\"longitude\":17.392}}","payloadType":"json","x":90,"y":60,"wires":[["5293e54a.8bdb6c"]]},{"id":"622e24ec.d84d9c","type":"debug","z":"72d5407a.e89ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":60,"wires":[]},{"id":"c0cb478e.6d8038","type":"function","z":"72d5407a.e89ac","name":"","func":"global.set(\"total\", msg.payload.d.total);\nglobal.set(\"occupied\", msg.payload.d.occupied);\nglobal.set(\"latitude\",msg.payload.d.latitude)\nglobal.set(\"longitude\",msg.payload.d.longitude)\n\ntotal = msg.payload.d.total;\noccupied = msg.payload.d.occupied;\n\nvacant = total-occupied;\nmsg.payload.d.vacant = vacant;\nglobal.set(\"vacant\", msg.payload.d.vacant);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":160,"wires":[["622e24ec.d84d9c","95e1c7ee.752498","acff7fa7.57b6b","aca86bb.ce0bd98","c1fca4fe.2f72b8","d59ef0d6.55c6"]]},{"id":"bf9d9105.386f9","type":"http in","z":"72d5407a.e89ac","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1220,"wires":[["f283a9.77e31c58"]]},{"id":"2daa5d00.f87a62","type":"http response","z":"72d5407a.e89ac","name":"","statusCode":"","headers":{},"x":550,"y":1220,"wires":[]},{"id":"f283a9.77e31c58","type":"function","z":"72d5407a.e89ac","name":"","func":"msg.payload = {\n    \"total\": global.get(\"total\"),\n    \"occupied\": global.get(\"occupied\"),\n    \"vacant\": global.get(\"vacant\")\n    };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":1220,"wires":[["2daa5d00.f87a62"]]},{"id":"1b251eeb.ff7611","type":"ui_form","z":"72d5407a.e89ac","name":"","label":"","group":"a07f5730.4770a8","order":1,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null},{"label":"Email","value":"email","type":"email","required":false,"rows":null},{"label":"Phone no","value":"phno","type":"number","required":true,"rows":null},{"label":"No of people travelling","value":"travel","type":"number","required":true,"rows":null},{"label":"Start Date","value":"start date","type":"date","required":true,"rows":null},{"label":"Return Date","value":"return date","type":"date","required":true,"rows":null}],"formValue":{"name":"","age":"","email":"","phno":"","travel":"","start date":"","return date":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":440,"wires":[["1dab3dc5.6d2032","f7954fc8.d0cc5","4f4fc17a.99446","96a3da38.68d358"]]},{"id":"590c8077.356fd","type":"ui_dropdown","z":"72d5407a.e89ac","name":"","label":"Health Details","tooltip":"","place":"","group":"7faf7b43.630bf4","order":0,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Fit","value":0,"type":"num"},{"label":"Fever/ dry cough","value":1,"type":"num"},{"label":"shortness of breath/loss of movement or speech","value":2,"type":"num"},{"label":"aches/pains/sore throat","value":"3","type":"str"}],"payload":"","topic":"","x":100,"y":620,"wires":[["fe095d49.bafbb","630d7fa7.1a3f9","36053097.8a363","f68f458c.1f0028"]]},{"id":"95e1c7ee.752498","type":"ui_text","z":"72d5407a.e89ac","group":"c6a08ccb.2b17d","order":1,"width":0,"height":0,"name":"","label":"Total Seats","format":"{{msg.payload.d.total}}","layout":"row-spread","x":690,"y":100,"wires":[]},{"id":"acff7fa7.57b6b","type":"ui_text","z":"72d5407a.e89ac","group":"c6a08ccb.2b17d","order":2,"width":0,"height":0,"name":"","label":"Occupied","format":"{{msg.payload.d.occupied}}","layout":"row-spread","x":620,"y":140,"wires":[]},{"id":"aca86bb.ce0bd98","type":"ui_text","z":"72d5407a.e89ac","group":"c6a08ccb.2b17d","order":3,"width":0,"height":0,"name":"","label":"Vacant","format":"{{msg.payload.d.vacant}}","layout":"row-spread","x":750,"y":160,"wires":[]},{"id":"b48b4b45.420c38","type":"ui_button","z":"72d5407a.e89ac","name":"home","group":"c6a08ccb.2b17d","order":3,"width":0,"height":0,"passthru":false,"label":"Click to book a seat","tooltip":"","color":"","bgcolor":"","icon":"","payload":"https://node-red-ibmcloud.eu-gb.mybluemix.net/ui/#!/0?socketid=C07rH52Cr2ORvxTeAAAD","payloadType":"flow","topic":"","x":90,"y":320,"wires":[["85286632.896278"]]},{"id":"630d7fa7.1a3f9","type":"switch","z":"72d5407a.e89ac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":640,"wires":[["5641fab6.0d13e4"],["5641fab6.0d13e4"],["5641fab6.0d13e4"]]},{"id":"3445e901.a7f1d6","type":"ui_text","z":"72d5407a.e89ac","group":"bef370a1.45377","order":4,"width":"6","height":"3","name":"","label":"Successfully details sent ","format":"{{msg.payload}}","layout":"col-center","x":710,"y":640,"wires":[]},{"id":"5641fab6.0d13e4","type":"function","z":"72d5407a.e89ac","name":"","func":"if(msg.payload===0 )\n{\n    if(global.get(\"travel\") < global.get(\"vacant\"))\n    {\n        msg.payload=\"We will soon send you confirmation\";\n        \n    }\n    else\n    {\n        msg.payload=\"Sorry, too many people. We will let you know if there are any cancellations.\";\n    }\n}\n\nelse\n{\n    msg.payload=\"Sorry, cannot let you travel\";\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":640,"wires":[["3445e901.a7f1d6","fc768255.7b456"]]},{"id":"1dab3dc5.6d2032","type":"cloudant out","z":"72d5407a.e89ac","name":"","cloudant":"503f27f2.920108","database":"form","service":"node-red-1-cloudant-1594388020690-36730","payonly":false,"operation":"insert","x":730,"y":440,"wires":[]},{"id":"ec609808.bf1158","type":"ui_ui_control","z":"72d5407a.e89ac","name":"","events":"all","x":500,"y":320,"wires":[[]]},{"id":"85286632.896278","type":"function","z":"72d5407a.e89ac","name":"","func":"msg.payload = {tab: \"Details\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":300,"wires":[["ec609808.bf1158"]]},{"id":"36053097.8a363","type":"function","z":"72d5407a.e89ac","name":"","func":"msg.payload = {tab: \"Final\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":700,"wires":[["68123b41.2bfb14"]]},{"id":"68123b41.2bfb14","type":"ui_ui_control","z":"72d5407a.e89ac","name":"","events":"all","x":580,"y":700,"wires":[[]]},{"id":"fe095d49.bafbb","type":"debug","z":"72d5407a.e89ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":580,"wires":[]},{"id":"48946960.8dc828","type":"mqtt in","z":"72d5407a.e89ac","name":"","topic":"data","qos":"2","datatype":"json","broker":"e8535bff.9d8618","x":70,"y":200,"wires":[["c0cb478e.6d8038","a74af269.2bbf7"]]},{"id":"5293e54a.8bdb6c","type":"mqtt out","z":"72d5407a.e89ac","name":"","topic":"data","qos":"","retain":"","broker":"e8535bff.9d8618","x":330,"y":60,"wires":[]},{"id":"a74af269.2bbf7","type":"debug","z":"72d5407a.e89ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":220,"wires":[]},{"id":"a61da15b.051b8","type":"watson-conversation-v1","z":"72d5407a.e89ac","name":"","workspaceid":"a234f998-f6ad-4f48-beb9-a79260fb159c","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/17be8a7f-2633-4267-b3dc-aa0409893113","timeout":"","optout-learning":false,"x":420,"y":880,"wires":[["b6c840a8.021dd","9a61b463.8bd738"]]},{"id":"4b01f137.84407","type":"ui_form","z":"72d5407a.e89ac","name":"","label":"","group":"9e7a0ed5.23da9","order":2,"width":"0","height":"0","options":[{"label":"Send Query","value":"query","type":"text","required":true,"rows":null}],"formValue":{"query":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":860,"wires":[["7ac91b72.beec54"]]},{"id":"7ac91b72.beec54","type":"function","z":"72d5407a.e89ac","name":"","func":"msg.payload = msg.payload.query;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":860,"wires":[["a61da15b.051b8"]]},{"id":"b6c840a8.021dd","type":"debug","z":"72d5407a.e89ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":840,"wires":[]},{"id":"c64461ce.93c09","type":"ui_button","z":"72d5407a.e89ac","name":"","group":"c6a08ccb.2b17d","order":5,"width":0,"height":0,"passthru":false,"label":"Click to ask a Query","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":760,"wires":[["2ed28427.41db8c"]]},{"id":"2ed28427.41db8c","type":"function","z":"72d5407a.e89ac","name":"","func":"msg.payload = {tab: \"Assistant\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":760,"wires":[["a24962d7.b3287"]]},{"id":"a24962d7.b3287","type":"ui_ui_control","z":"72d5407a.e89ac","name":"","events":"all","x":600,"y":760,"wires":[[]]},{"id":"2ec6cc64.9cc544","type":"ui_text","z":"72d5407a.e89ac","group":"9e7a0ed5.23da9","order":1,"width":"6","height":"4","name":"","label":"Alex Speaking:","format":"{{msg.payload}}","layout":"col-center","x":760,"y":940,"wires":[]},{"id":"9a61b463.8bd738","type":"function","z":"72d5407a.e89ac","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":940,"wires":[["2ec6cc64.9cc544","1f326d01.9f91d3"]]},{"id":"1f326d01.9f91d3","type":"ui_audio","z":"72d5407a.e89ac","name":"","group":"9e7a0ed5.23da9","voice":"en-GB","always":true,"x":740,"y":880,"wires":[]},{"id":"f7954fc8.d0cc5","type":"debug","z":"72d5407a.e89ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":420,"wires":[]},{"id":"fc768255.7b456","type":"debug","z":"72d5407a.e89ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":580,"wires":[]},{"id":"4f4fc17a.99446","type":"function","z":"72d5407a.e89ac","name":"","func":"global.set(\"travel\",msg.payload.travel)\nreturn ;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":380,"wires":[["e79ba6f0.e10498"]]},{"id":"1649fa15.8809e6","type":"ui_ui_control","z":"72d5407a.e89ac","name":"","events":"all","x":600,"y":480,"wires":[[]]},{"id":"96a3da38.68d358","type":"function","z":"72d5407a.e89ac","name":"","func":"msg.payload={tab : \"Health Details\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":480,"wires":[["1649fa15.8809e6"]]},{"id":"f68f458c.1f0028","type":"ui_text","z":"72d5407a.e89ac","group":"7faf7b43.630bf4","order":2,"width":0,"height":0,"name":"","label":"","format":"{{\"For smooth travelling, fill below:\"}}","layout":"col-center","x":290,"y":560,"wires":[]},{"id":"ed2fb5c8.eaee08","type":"ui_button","z":"72d5407a.e89ac","name":"","group":"c6a08ccb.2b17d","order":0,"width":0,"height":0,"passthru":false,"label":"Click to know the Location ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":1000,"wires":[["e753cc90.f4af"]]},{"id":"c1fca4fe.2f72b8","type":"ui_text","z":"72d5407a.e89ac","group":"7aa9868.b2cba78","order":1,"width":"0","height":"0","name":"","label":"Latitude","format":"{{msg.payload.d.latitude}}","layout":"row-center","x":700,"y":200,"wires":[]},{"id":"ed575d2e.515aa","type":"ui_ui_control","z":"72d5407a.e89ac","name":"","events":"all","x":640,"y":1000,"wires":[[]]},{"id":"e753cc90.f4af","type":"function","z":"72d5407a.e89ac","name":"","func":"msg.payload={tab: \"Location\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":980,"wires":[["ed575d2e.515aa"]]},{"id":"5aa420a5.66fe4","type":"function","z":"72d5407a.e89ac","name":"","func":"msg.payload={tab: \"Home\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1060,"wires":[["9aeb3551.7385b8"]]},{"id":"9aeb3551.7385b8","type":"ui_ui_control","z":"72d5407a.e89ac","name":"","events":"all","x":620,"y":1040,"wires":[[]]},{"id":"d59ef0d6.55c6","type":"ui_text","z":"72d5407a.e89ac","group":"7aa9868.b2cba78","order":2,"width":0,"height":0,"name":"","label":"Longitude","format":"{{msg.payload.d.longitude}}","layout":"row-center","x":720,"y":240,"wires":[]},{"id":"bb3feae3.362708","type":"ui_button","z":"72d5407a.e89ac","name":"","group":"7aa9868.b2cba78","order":3,"width":0,"height":0,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":1060,"wires":[["5aa420a5.66fe4"]]},{"id":"e79ba6f0.e10498","type":"debug","z":"72d5407a.e89ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":380,"wires":[]},{"id":"a07f5730.4770a8","type":"ui_group","z":"","name":"User Details","tab":"7cf4335.e0157cc","order":1,"disp":true,"width":"6","collapse":false},{"id":"7faf7b43.630bf4","type":"ui_group","z":"","name":"Health Details","tab":"307f6b76.c75cf4","order":1,"disp":true,"width":"6","collapse":false},{"id":"c6a08ccb.2b17d","type":"ui_group","z":"","name":"Public Transportation Details","tab":"e660beed.c3939","order":2,"disp":true,"width":"6","collapse":false},{"id":"bef370a1.45377","type":"ui_group","z":"","name":"Final","tab":"2a718ce2.3e7cb4","order":2,"disp":true,"width":"6","collapse":false},{"id":"503f27f2.920108","type":"cloudant","z":"","host":"dashdb-txn-sbox-yp-lon02-06.services.eu-gb.bluemix.net","name":"form"},{"id":"e8535bff.9d8618","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9e7a0ed5.23da9","type":"ui_group","z":"","name":"Assistant","tab":"8d35d0b2.3c6a9","order":1,"disp":true,"width":"6","collapse":false},{"id":"7aa9868.b2cba78","type":"ui_group","z":"","name":"Location","tab":"8b6f4fb1.1bad2","order":1,"disp":true,"width":"6","collapse":false},{"id":"7cf4335.e0157cc","type":"ui_tab","z":"","name":"Details","icon":"dashboard","disabled":false,"hidden":false},{"id":"307f6b76.c75cf4","type":"ui_tab","z":"","name":"Health Details","icon":"dashboard","disabled":false,"hidden":false},{"id":"e660beed.c3939","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"2a718ce2.3e7cb4","type":"ui_tab","z":"","name":"Final","icon":"dashboard","disabled":false,"hidden":false},{"id":"8d35d0b2.3c6a9","type":"ui_tab","z":"","name":"Assistant","icon":"dashboard","disabled":false,"hidden":false},{"id":"8b6f4fb1.1bad2","type":"ui_tab","z":"","name":"Location","icon":"dashboard","disabled":false,"hidden":false}]